<div class="product-card">
  <a href="{{ product.url | within: collection }}" class="product-card__link">
    <div class="product-card__image-wrapper">
      {% if product.featured_image != blank %}
        {{ product.featured_image | image_url: width: 600 | image_tag: class: 'product-card__image', alt: product.title }}
      {% else %}
        {{ 'product-1' | placeholder_svg_tag: 'placeholder-svg product-card__image' }}
      {% endif %}
      
      <div class="product-card__actions">
        <button type="button" class="btn btn-secondary product-card__quick-add">Quick Add</button>
      </div>
    </div>
    
    <div class="product-card__info">
      <h3 class="product-card__title">{{ product.title }}</h3>
      <div class="product-card__price">
        {% if product.compare_at_price > product.price %}
          <span class="price-regular">{{ product.price | money }}</span>
          <span class="price-compare">{{ product.compare_at_price | money }}</span>
        {% else %}
          <span class="price-regular">{{ product.price | money }}</span>
        {% endif %}
      </div>
    </div>
  </a>
</div>
